.App {
  min-height: 100vh;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
